@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap');
:root {
  --main-font: 'Dosis', sans-serif;
  --light-bg: #1B2430;
  --main-color:#E94560;
  --font-color: #fff;
  --transition: .7s;
  --border:2px solid rgb(51, 51, 51);
}
*{
    margin: 0;
    padding: 0;
}

.loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--light-bg);
    z-index: 2222;
  }
  
  .loadingPage-active {
    display: flex;
  }
  .loadingPage-slide {
    animation: slide-up 2s ease ;
    -webkit-animation: slide-up 2s ease;
  }
  
  .loadingPage img {
    display: block;
    width: 50px;
    height: 50px;
    transition: var(--transition);
    animation: rotation 3s alternate, fade-out 3s alternate ;
    -webkit-animation: rotation 3s alternate, fade-out 3s alternate;
  }

.burgerMenu {
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #fb8d8e;
  font-size: 26px;
  padding: 5px 15px;
}

.burgerMenu:focus {
  border: var(--border);
}
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
  @keyframes slide-up {
    0% {
      height: 100vh;
    }
    100% {
      height: 0vh;
    }
  }
.homeSection{
background-color: var(--light-bg);
background-size: cover;
background-attachment: fixed;
background-position: center;

}

.logo{
    height:50px;
    width: 50px;
}

.navbar{
   background-color:var(--light-bg);
   font-family: Dosis;
   border-radius: 10px;
  }
  .navbar-nav li  a:hover {
    color:#E94560 !important;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.navbar-nav li button:hover{
    color:#E94560 !important;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-timing-function: ease;
}
#movies {
    padding-top: 30px;
}
.movie {
    position: relative;
}
.imgHeader{
    position: absolute;
    background-color: var(--main-color);
    padding: 0 20px;
   top:0;
   right: 0;
    z-index: 3;

}
footer{
    font-family: Dosis;
  }
  footer i {
    
    background-color: white;
   color: black !important;
  
    width:25px;
    height: 25px;
  }
  @media (min-width: 560px) and (max-width: 768px) {
    .container {
      max-width: 768px !important;
    }
    .centered-text{
      font-size: 10px;
    }
  .categorySection .container{
    flex-direction: column;
    }
  .categorySection .container img{
  margin: 10px 0px  !important;
  }
  .reviewSection .bg-overlay .container {
    flex-direction: column;
    
  }
  .navbar{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: var(--light-bg);
    border-radius: 6px;
    transform: none;
    transition: var(--transition);
    font-size: 18px;
  }
  
  .burgerMenu {
    display: flex !important;
  }
  #centered-items{
    display: none;
    /* position: absolute; */
    flex-direction: column;
    background-color: var(--light-bg);
    width: 100%;
    height: fit-content;
    top: 98px;
    left: 0;
    margin: 0;
    padding: 0 !important;
  }
  #centered-items li{
    padding-top: 4px;
    padding-bottom: 4px;
    width: 80%;
    text-align: center;
  }
  .userdata {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--light-bg);
    width: 100%;
    height: fit-content;
    top: 0px;
    left: -110px !important;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 0;
  }
  
  }
  .flex {
    display: flex !important;
  }